{% extends 'base.html' %}

{% block content %}
  <h2>DETAIL</h2>
  <h3>{{ article.pk }} 번째 글</h3>
  <hr>
  <p>제목 : {{ article.title }}</p>
  <p>내용 : {{ article.content }}</p>
  <p>작성시각 : {{ article.created_at }}</p>
  <p>수정시각 : {{ article.updated_at }}</p>
  <hr>
  {% if user == article.user %}
    <a href="{% url 'articles:update' article.pk %}">[UPDATE]</a>
    <form action="{% url 'articles:delete' article.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="DELETE">
    </form>
  {% endif %}
  <a href="{% url 'articles:index' %}">[back]</a>
  <hr>
  <h4>댓글 목록</h4>
  <p><b>{{ comments.count }}개의 댓글이 있습니다.</b></p>
  <ul>
    {% for comment in comments %}
      <li id="comment-list">
        {{ comment.user }} - {{ comment.content }}
        {% if user == comment.user %}
          <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input type="submit" value="DELETE">
          </form>
        {% endif %}
      </li>
    {% empty %}
      <p id="empty-comment">댓글이 없어요..</p>
    {% endfor %}
  </ul>

  <hr>
  {% if request.user.is_authenticated %}
    <form data-article-pk={{ article.pk }}  data-user-name={{ user.username }}  id="comment-form">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const form = document.querySelector('#comment-form')
    const input = document.querySelector('[name=content]')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    // 댓글 생성
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const data = new FormData()
      data.append('content', input.value)
      
      const article_pk = form.dataset.articlePk
      const user_name = form.dataset.userName

      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/articles/${ article_pk }/comments/`,
        headers: {'X-CSRFToken': csrftoken},
        data,
      })
      .then((response) => {
        const li = document.createElement("li")
        
        li.innerText = `${user_name} - ${input.value} `
        
        const ul = document.querySelector("ul")
        
        input.value = ''
        
        const deleteBtn = document.createElement("input")
        deleteBtn.value = "DELETE"
        deleteBtn.type = "submit"
        
        const delForm = document.createElement("form")
        
        const inputElem = document.createElement("input")

        inputElem.type = 'hidden'
        inputElem.name = 'csrfmiddlewaretoken'
        inputElem.value = '{{ csrf_token }}'
        
        delForm.append(inputElem) 
        
        delForm.action = `http://127.0.0.1:8000/articles/${article_pk}/comments/${response.data.commentPk}/delete/`
        delForm.method = 'post'
        delForm.append(deleteBtn)
        delForm.classList.add("d-inline")

        li.append(delForm)
        li.setAttribute('id', 'comment-list')
        ul.append(li)
        
        const emptyComment = document.querySelector("#empty-comment")
        if (emptyComment){

          emptyComment.remove()
        }

      })
      .catch((error) => {
        console.log(error)
      })

	// 이곳에 코드를 작성하세요
    })

  </script>
{% endblock script %}
